{% extends 'main/base.html' %}
{% load static %}
{% block title %}
    <title>Seguimiento</title>
{% endblock title %}
{% block contenido %}
<div class="content">
    <div class="container-fluid">
        
      {% comment %}   <form action="" methods="POST" class="form-inline">
            {% csrf_token %}

            <input type="search" class="form-control mr-sm-2" name="busqueda" placeholder="Ingrese nombre" aria-label="search">

            <button class="btn btn-primary" type="submit">Buscar</button>
        </form> {% endcomment %}

        <form action="" method="POST">
            {% csrf_token %}
            <div class="input-group">
              <span class="input-group-text text-body">      
                <i class="fas fa-search" aria-hidden="true"></i>
              </span>    
              <input name="busqueda" type="text" class="form-control" placeholder="Escriba aquí...">
            </div>
        </form>
        
    </div>
    <div class="table-responsive">
        <table class="table table-hover ">
            <thead>
                <th>Nombre</th>
                <th>N° Envio</th>
                <th>Rut</th>
                <th>Direccion</th>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Valor producto</th>
            </thead>
            <tbody>
                {% for venta in ventas %}
                <tr>
                    
                    <td>{{venta.nombre}}</td>
                    <td>{{venta.nroSeguimiento}}</td>
                    <td>{{venta.rut}}</td>
                    <td>{{venta.direccion}}</td>
                    <td>{{venta.producto}}</td>
                    <td>{{venta.cantidad}}</td>
                    <td>{{venta.precio}}</td>

                </tr>

                {% endfor %}
            </tbody>

        </table>
    </div>
</div>

{% endblock contenido %}

            
            

            



